*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.o
*.a
*.out
*.log
*.tmp
*.swp
*.bak
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
/vendor/
/go/pkg/
go.sum
Dockerfile
docker-compose.yml
docker-compose.override.yml
*.env
*.tmp
*.bak
*.old
coverage.out
*.cov
tmp/
